.comments-content
{
    margin-top: 12px;
    border-bottom: 1px solid #ebebeb;
}
.comments-content .picture
{
    font-size: 48pt;
    text-align: center; width: 100%;
}
.comments-content .name
{
    font-size: 15pt;
}
.comments-content .date
{
    color: #ABABAB;
}
#comments_content
{
    padding-top: 20px;
}