.large{
    font-size: 2.5em;
}
.font-middle{
    font-size: 1.5em;
}
.font-large{
    font-size: 2em;
}
.font-small{
    font-size: 1em;
}
.navbar-toggle .icon-bar {
    color: black;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
}